html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
p{
  @extend .mb1;
  blockquote &{
    @extend .mb0;
  }
}
strong{
  font-weight: 600;
}
textarea{
  height: auto;
}