/* line 5, ../../sass/corpus/_reset.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

/* line 14, ../../sass/corpus/_reset.scss */
body {
  margin: 0;
}

/* line 15, ../../sass/corpus/_reset.scss */
img {
  width: 100%;
}

/* line 16, ../../sass/corpus/_reset.scss */
svg {
  max-height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(25vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-25vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(25vh);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-25vh);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes flipIn {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes flipOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes shake {
  15% {
    transform: translateX(0.5rem);
  }
  30% {
    transform: translateX(-0.4rem);
  }
  45% {
    transform: translateX(0.3rem);
  }
  60% {
    transform: translateX(-0.2rem);
  }
  75% {
    transform: translateX(0.1rem);
  }
  90% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
}
/* line 78, ../../sass/corpus/_animation.scss */
.fadeIn {
  animation: fadeIn 500ms;
}

/* line 79, ../../sass/corpus/_animation.scss */
.fadeOut {
  animation: fadeOut 500ms;
}

/* line 81, ../../sass/corpus/_animation.scss */
.fadeInUp {
  animation: fadeInUp 500ms;
}

/* line 82, ../../sass/corpus/_animation.scss */
.fadeInDown {
  animation: fadeInDown 500ms;
}

/* line 84, ../../sass/corpus/_animation.scss */
.slideUp {
  animation: slideUp 200ms ease-in-out;
}

/* line 85, ../../sass/corpus/_animation.scss */
.slideDown {
  animation: slideDown 200ms ease-in-out;
}

/* line 87, ../../sass/corpus/_animation.scss */
.slideRight {
  animation: slideRight 200ms ease-in-out;
}

/* line 88, ../../sass/corpus/_animation.scss */
.slideLeft {
  animation: slideLeft 200ms ease-in-out;
}

/* line 90, ../../sass/corpus/_animation.scss */
.scaleUp {
  animation: scaleUp 200ms ease-in-out;
}

/* line 91, ../../sass/corpus/_animation.scss */
.scaleDown {
  animation: scaleDown 200ms ease-in-out;
}

/* line 93, ../../sass/corpus/_animation.scss */
.flipIn {
  animation: flipIn 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

/* line 94, ../../sass/corpus/_animation.scss */
.flipOut {
  animation: flipOut 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

/* line 96, ../../sass/corpus/_animation.scss */
.rotateRight {
  animation: rotateRight 500ms;
}

/* line 97, ../../sass/corpus/_animation.scss */
.rotateLeft {
  animation: rotateLeft 500ms;
}

/* line 99, ../../sass/corpus/_animation.scss */
.flash {
  animation: flash 500ms 3;
}

/* line 100, ../../sass/corpus/_animation.scss */
.shake {
  animation: shake 200ms;
}

/* line 5, ../../sass/corpus/_utilities.scss */
.hidden {
  display: none;
}

/* line 6, ../../sass/corpus/_utilities.scss */
.block {
  display: block;
}

/* line 7, ../../sass/corpus/_utilities.scss */
.flex {
  display: flex;
}

/* line 8, ../../sass/corpus/_utilities.scss */
.inline {
  display: inline;
}

/* line 9, ../../sass/corpus/_utilities.scss */
.inline-block {
  display: inline-block;
}

/* line 10, ../../sass/corpus/_utilities.scss */
.inline-flex {
  display: inline-flex;
}

/* line 12, ../../sass/corpus/_utilities.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 13, ../../sass/corpus/_utilities.scss */
.overflow-scroll {
  overflow: scroll;
}

/* line 14, ../../sass/corpus/_utilities.scss */
.overflow-auto {
  overflow: auto;
}

@media screen and (max-width: 480px) {
  /* line 16, ../../sass/corpus/_utilities.scss */
  .hide-on-small {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  /* line 17, ../../sass/corpus/_utilities.scss */
  .hide-on-medium {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  /* line 18, ../../sass/corpus/_utilities.scss */
  .hide-on-large {
    display: none !important;
  }
}

/* line 24, ../../sass/corpus/_utilities.scss */
.pre {
  white-space: pre;
}

/* line 25, ../../sass/corpus/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 31, ../../sass/corpus/_utilities.scss */
.scroll-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

/* line 36, ../../sass/corpus/_utilities.scss */
.scroll-vertical {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 41, ../../sass/corpus/_utilities.scss */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* line 51, ../../sass/corpus/_utilities.scss */
.resize-none {
  resize: none;
}

/* line 52, ../../sass/corpus/_utilities.scss */
.resize-vertical {
  resize: vertical;
}

/* line 53, ../../sass/corpus/_utilities.scss */
.resize-horizontal {
  resize: horizontal;
}

/* line 59, ../../sass/corpus/_utilities.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 63, ../../sass/corpus/_utilities.scss */
.no-pointer-events {
  pointer-events: none;
}

/* line 67, ../../sass/corpus/_utilities.scss */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* line 9, ../../sass/corpus/_whitespace.scss */
.p0 {
  padding: 0 !important;
}

/* line 10, ../../sass/corpus/_whitespace.scss */
.p1 {
  padding: 1rem;
}

/* line 11, ../../sass/corpus/_whitespace.scss */
.p2 {
  padding: 2rem;
}

/* line 12, ../../sass/corpus/_whitespace.scss */
.p3 {
  padding: 3rem;
}

/* line 13, ../../sass/corpus/_whitespace.scss */
.p4 {
  padding: 4rem;
}

/* line 14, ../../sass/corpus/_whitespace.scss */
.p5 {
  padding: 5rem;
}

/* line 17, ../../sass/corpus/_whitespace.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 18, ../../sass/corpus/_whitespace.scss */
.pt1 {
  padding-top: 1rem;
}

/* line 19, ../../sass/corpus/_whitespace.scss */
.pt2 {
  padding-top: 2rem;
}

/* line 20, ../../sass/corpus/_whitespace.scss */
.pt3 {
  padding-top: 3rem;
}

/* line 21, ../../sass/corpus/_whitespace.scss */
.pt4 {
  padding-top: 4rem;
}

/* line 22, ../../sass/corpus/_whitespace.scss */
.pt5 {
  padding-top: 5rem;
}

/* line 25, ../../sass/corpus/_whitespace.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 26, ../../sass/corpus/_whitespace.scss */
.pr1 {
  padding-right: 1rem;
}

/* line 27, ../../sass/corpus/_whitespace.scss */
.pr2 {
  padding-right: 2rem;
}

/* line 28, ../../sass/corpus/_whitespace.scss */
.pr3 {
  padding-right: 3rem;
}

/* line 29, ../../sass/corpus/_whitespace.scss */
.pr4 {
  padding-right: 4rem;
}

/* line 30, ../../sass/corpus/_whitespace.scss */
.pr5 {
  padding-right: 5rem;
}

/* line 33, ../../sass/corpus/_whitespace.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 34, ../../sass/corpus/_whitespace.scss */
.pb1 {
  padding-bottom: 1rem;
}

/* line 35, ../../sass/corpus/_whitespace.scss */
.pb2 {
  padding-bottom: 2rem;
}

/* line 36, ../../sass/corpus/_whitespace.scss */
.pb3 {
  padding-bottom: 3rem;
}

/* line 37, ../../sass/corpus/_whitespace.scss */
.pb4 {
  padding-bottom: 4rem;
}

/* line 38, ../../sass/corpus/_whitespace.scss */
.pb5 {
  padding-bottom: 5rem;
}

/* line 41, ../../sass/corpus/_whitespace.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 42, ../../sass/corpus/_whitespace.scss */
.pl1 {
  padding-left: 1rem;
}

/* line 43, ../../sass/corpus/_whitespace.scss */
.pl2 {
  padding-left: 2rem;
}

/* line 44, ../../sass/corpus/_whitespace.scss */
.pl3 {
  padding-left: 3rem;
}

/* line 45, ../../sass/corpus/_whitespace.scss */
.pl4 {
  padding-left: 4rem;
}

/* line 46, ../../sass/corpus/_whitespace.scss */
.pl5 {
  padding-left: 5rem;
}

/* line 49, ../../sass/corpus/_whitespace.scss */
.ptb0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 50, ../../sass/corpus/_whitespace.scss */
.ptb1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 51, ../../sass/corpus/_whitespace.scss */
.ptb2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 52, ../../sass/corpus/_whitespace.scss */
.ptb3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 53, ../../sass/corpus/_whitespace.scss */
.ptb4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* line 54, ../../sass/corpus/_whitespace.scss */
.ptb5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* line 57, ../../sass/corpus/_whitespace.scss */
.plr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 58, ../../sass/corpus/_whitespace.scss */
.plr1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 59, ../../sass/corpus/_whitespace.scss */
.plr2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 60, ../../sass/corpus/_whitespace.scss */
.plr3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* line 61, ../../sass/corpus/_whitespace.scss */
.plr4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* line 62, ../../sass/corpus/_whitespace.scss */
.plr5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* line 69, ../../sass/corpus/_whitespace.scss */
.ma {
  margin: auto;
}

/* line 72, ../../sass/corpus/_whitespace.scss */
.m0 {
  margin: 0 !important;
}

/* line 73, ../../sass/corpus/_whitespace.scss */
.m1 {
  margin: 1rem;
}

/* line 74, ../../sass/corpus/_whitespace.scss */
.m2 {
  margin: 2rem;
}

/* line 75, ../../sass/corpus/_whitespace.scss */
.m3 {
  margin: 3rem;
}

/* line 76, ../../sass/corpus/_whitespace.scss */
.m4 {
  margin: 4rem;
}

/* line 77, ../../sass/corpus/_whitespace.scss */
.m5 {
  margin: 5rem;
}

/* line 80, ../../sass/corpus/_whitespace.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 81, ../../sass/corpus/_whitespace.scss */
.mt1 {
  margin-top: 1rem;
}

/* line 82, ../../sass/corpus/_whitespace.scss */
.mt2 {
  margin-top: 2rem;
}

/* line 83, ../../sass/corpus/_whitespace.scss */
.mt3 {
  margin-top: 3rem;
}

/* line 84, ../../sass/corpus/_whitespace.scss */
.mt4 {
  margin-top: 4rem;
}

/* line 85, ../../sass/corpus/_whitespace.scss */
.mt5 {
  margin-top: 5rem;
}

/* line 88, ../../sass/corpus/_whitespace.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 89, ../../sass/corpus/_whitespace.scss */
.mr1 {
  margin-right: 1rem;
}

/* line 90, ../../sass/corpus/_whitespace.scss */
.mr2 {
  margin-right: 2rem;
}

/* line 91, ../../sass/corpus/_whitespace.scss */
.mr3 {
  margin-right: 3rem;
}

/* line 92, ../../sass/corpus/_whitespace.scss */
.mr4 {
  margin-right: 4rem;
}

/* line 93, ../../sass/corpus/_whitespace.scss */
.mr5 {
  margin-right: 5rem;
}

/* line 96, ../../sass/corpus/_whitespace.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 97, ../../sass/corpus/_whitespace.scss */
.mb1 {
  margin-bottom: 1rem;
}

/* line 98, ../../sass/corpus/_whitespace.scss */
.mb2 {
  margin-bottom: 2rem;
}

/* line 99, ../../sass/corpus/_whitespace.scss */
.mb3 {
  margin-bottom: 3rem;
}

/* line 100, ../../sass/corpus/_whitespace.scss */
.mb4 {
  margin-bottom: 4rem;
}

/* line 101, ../../sass/corpus/_whitespace.scss */
.mb5 {
  margin-bottom: 5rem;
}

/* line 104, ../../sass/corpus/_whitespace.scss */
.ml0 {
  margin-left: 0 !important;
}

/* line 105, ../../sass/corpus/_whitespace.scss */
.ml1 {
  margin-left: 1rem;
}

/* line 106, ../../sass/corpus/_whitespace.scss */
.ml2 {
  margin-left: 2rem;
}

/* line 107, ../../sass/corpus/_whitespace.scss */
.ml3 {
  margin-left: 3rem;
}

/* line 108, ../../sass/corpus/_whitespace.scss */
.ml4 {
  margin-left: 4rem;
}

/* line 109, ../../sass/corpus/_whitespace.scss */
.ml5 {
  margin-left: 5rem;
}

/* line 112, ../../sass/corpus/_whitespace.scss */
.mtb0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 113, ../../sass/corpus/_whitespace.scss */
.mtb1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 114, ../../sass/corpus/_whitespace.scss */
.mtb2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 115, ../../sass/corpus/_whitespace.scss */
.mtb3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* line 116, ../../sass/corpus/_whitespace.scss */
.mtb4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* line 117, ../../sass/corpus/_whitespace.scss */
.mtb5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* line 120, ../../sass/corpus/_whitespace.scss */
.mlr0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 121, ../../sass/corpus/_whitespace.scss */
.mlr1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 122, ../../sass/corpus/_whitespace.scss */
.mlr2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 123, ../../sass/corpus/_whitespace.scss */
.mlr3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* line 124, ../../sass/corpus/_whitespace.scss */
.mlr4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* line 125, ../../sass/corpus/_whitespace.scss */
.mlr5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* line 5, ../../sass/corpus/_grid.scss */
.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: auto;
  flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  /* line 5, ../../sass/corpus/_grid.scss */
  .column {
    min-width: 100%;
  }
}

/* line 16, ../../sass/corpus/_grid.scss */
.row {
  display: flex;
  flex: 1 1 auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  /* line 24, ../../sass/corpus/_grid.scss */
  .row > .column {
    width: 100% !important;
  }
}

/* line 35, ../../sass/corpus/_grid.scss */
.gutters {
  padding: 1rem;
}

/* line 38, ../../sass/corpus/_grid.scss */
.gutters > .column,
.gutters > .row {
  margin: 1rem;
}
@media screen and (max-width: 480px) {
  /* line 38, ../../sass/corpus/_grid.scss */
  .gutters > .column,
  .gutters > .row {
    width: 100% !important;
    min-width: 0;
  }
}

/* line 49, ../../sass/corpus/_grid.scss */
.gutters > .w5 {
  width: calc(5%   -  2rem);
}
/* line 50, ../../sass/corpus/_grid.scss */
.gutters > .w10 {
  width: calc(10%  -  2rem);
}
/* line 51, ../../sass/corpus/_grid.scss */
.gutters > .w15 {
  width: calc(15%  -  2rem);
}
/* line 52, ../../sass/corpus/_grid.scss */
.gutters > .w20 {
  width: calc(20%  -  2rem);
}
/* line 53, ../../sass/corpus/_grid.scss */
.gutters > .w25 {
  width: calc(25%  -  2rem);
}
/* line 54, ../../sass/corpus/_grid.scss */
.gutters > .w30 {
  width: calc(30%  -  2rem);
}
/* line 55, ../../sass/corpus/_grid.scss */
.gutters > .w35 {
  width: calc(35%  -  2rem);
}
/* line 56, ../../sass/corpus/_grid.scss */
.gutters > .w40 {
  width: calc(40%  -  2rem);
}
/* line 57, ../../sass/corpus/_grid.scss */
.gutters > .w45 {
  width: calc(45%  -  2rem);
}
/* line 58, ../../sass/corpus/_grid.scss */
.gutters > .w50 {
  width: calc(50%  -  2rem);
}
/* line 59, ../../sass/corpus/_grid.scss */
.gutters > .w55 {
  width: calc(55%  -  2rem);
}
/* line 60, ../../sass/corpus/_grid.scss */
.gutters > .w60 {
  width: calc(60%  -  2rem);
}
/* line 61, ../../sass/corpus/_grid.scss */
.gutters > .w65 {
  width: calc(65%  -  2rem);
}
/* line 62, ../../sass/corpus/_grid.scss */
.gutters > .w70 {
  width: calc(70%  -  2rem);
}
/* line 63, ../../sass/corpus/_grid.scss */
.gutters > .w75 {
  width: calc(75%  -  2rem);
}
/* line 64, ../../sass/corpus/_grid.scss */
.gutters > .w80 {
  width: calc(80%  -  2rem);
}
/* line 65, ../../sass/corpus/_grid.scss */
.gutters > .w85 {
  width: calc(85%  -  2rem);
}
/* line 66, ../../sass/corpus/_grid.scss */
.gutters > .w90 {
  width: calc(90%  -  2rem);
}
/* line 67, ../../sass/corpus/_grid.scss */
.gutters > .w95 {
  width: calc(95%  -  2rem);
}
/* line 68, ../../sass/corpus/_grid.scss */
.gutters > .w100 {
  width: calc(100% -  2rem);
}

/* line 3, ../../sass/corpus/_sidebar.scss */
.sidebar {
  width: 300px;
}
@media screen and (max-width: 800px) {
  /* line 3, ../../sass/corpus/_sidebar.scss */
  .sidebar {
    width: 100%;
    height: auto;
  }
}

/* line 13, ../../sass/corpus/_sidebar.scss */
.sidebar + main {
  margin-left: 300px;
}
@media screen and (max-width: 800px) {
  /* line 13, ../../sass/corpus/_sidebar.scss */
  .sidebar + main {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  /* line 20, ../../sass/corpus/_sidebar.scss */
  .sidebar.fixed,
  .sidebar.absolute {
    position: static;
  }
}

/* line 5, ../../sass/corpus/_sizing.scss */
.fullscreen {
  min-height: 100vh;
  min-width: 100%;
}

/* line 11, ../../sass/corpus/_sizing.scss */
.flex1 {
  flex: 1;
}

/* line 12, ../../sass/corpus/_sizing.scss */
.flex2 {
  flex: 2;
}

/* line 13, ../../sass/corpus/_sizing.scss */
.flex3 {
  flex: 3;
}

/* line 14, ../../sass/corpus/_sizing.scss */
.flex4 {
  flex: 4;
}

/* line 15, ../../sass/corpus/_sizing.scss */
.flex5 {
  flex: 5;
}

/* line 21, ../../sass/corpus/_sizing.scss */
.w-auto {
  width: auto    !important;
}

/* line 22, ../../sass/corpus/_sizing.scss */
.w-inherit {
  width: inherit !important;
}

/* line 23, ../../sass/corpus/_sizing.scss */
.w-initial {
  width: initial !important;
}

/* line 26, ../../sass/corpus/_sizing.scss */
.vw5 {
  width: 5vw;
}

/* line 27, ../../sass/corpus/_sizing.scss */
.vw10 {
  width: 10vw;
}

/* line 28, ../../sass/corpus/_sizing.scss */
.vw15 {
  width: 15vw;
}

/* line 29, ../../sass/corpus/_sizing.scss */
.vw20 {
  width: 20vw;
}

/* line 30, ../../sass/corpus/_sizing.scss */
.vw25 {
  width: 25vw;
}

/* line 31, ../../sass/corpus/_sizing.scss */
.vw30 {
  width: 30vw;
}

/* line 32, ../../sass/corpus/_sizing.scss */
.vw35 {
  width: 35vw;
}

/* line 33, ../../sass/corpus/_sizing.scss */
.vw40 {
  width: 40vw;
}

/* line 34, ../../sass/corpus/_sizing.scss */
.vw45 {
  width: 45vw;
}

/* line 35, ../../sass/corpus/_sizing.scss */
.vw50 {
  width: 50vw;
}

/* line 36, ../../sass/corpus/_sizing.scss */
.vw55 {
  width: 55vw;
}

/* line 37, ../../sass/corpus/_sizing.scss */
.vw60 {
  width: 60vw;
}

/* line 38, ../../sass/corpus/_sizing.scss */
.vw65 {
  width: 65vw;
}

/* line 39, ../../sass/corpus/_sizing.scss */
.vw70 {
  width: 70vw;
}

/* line 40, ../../sass/corpus/_sizing.scss */
.vw75 {
  width: 75vw;
}

/* line 41, ../../sass/corpus/_sizing.scss */
.vw80 {
  width: 80vw;
}

/* line 42, ../../sass/corpus/_sizing.scss */
.vw85 {
  width: 85vw;
}

/* line 43, ../../sass/corpus/_sizing.scss */
.vw90 {
  width: 90vw;
}

/* line 44, ../../sass/corpus/_sizing.scss */
.vw95 {
  width: 95vw;
}

/* line 45, ../../sass/corpus/_sizing.scss */
.vw100 {
  width: 100vw;
}

/* line 48, ../../sass/corpus/_sizing.scss */
.w5 {
  width: 5%;
}

/* line 49, ../../sass/corpus/_sizing.scss */
.w10 {
  width: 10%;
}

/* line 50, ../../sass/corpus/_sizing.scss */
.w15 {
  width: 15%;
}

/* line 51, ../../sass/corpus/_sizing.scss */
.w20 {
  width: 20%;
}

/* line 52, ../../sass/corpus/_sizing.scss */
.w25 {
  width: 25%;
}

/* line 53, ../../sass/corpus/_sizing.scss */
.w30 {
  width: 30%;
}

/* line 54, ../../sass/corpus/_sizing.scss */
.w35 {
  width: 35%;
}

/* line 55, ../../sass/corpus/_sizing.scss */
.w40 {
  width: 40%;
}

/* line 56, ../../sass/corpus/_sizing.scss */
.w45 {
  width: 45%;
}

/* line 57, ../../sass/corpus/_sizing.scss */
.w50 {
  width: 50%;
}

/* line 58, ../../sass/corpus/_sizing.scss */
.w55 {
  width: 55%;
}

/* line 59, ../../sass/corpus/_sizing.scss */
.w60 {
  width: 60%;
}

/* line 60, ../../sass/corpus/_sizing.scss */
.w65 {
  width: 65%;
}

/* line 61, ../../sass/corpus/_sizing.scss */
.w70 {
  width: 70%;
}

/* line 62, ../../sass/corpus/_sizing.scss */
.w75 {
  width: 75%;
}

/* line 63, ../../sass/corpus/_sizing.scss */
.w80 {
  width: 80%;
}

/* line 64, ../../sass/corpus/_sizing.scss */
.w85 {
  width: 85%;
}

/* line 65, ../../sass/corpus/_sizing.scss */
.w90 {
  width: 90%;
}

/* line 66, ../../sass/corpus/_sizing.scss */
.w95 {
  width: 95%;
}

/* line 67, ../../sass/corpus/_sizing.scss */
.w100 {
  width: 100%;
}

/* line 69, ../../sass/corpus/_sizing.scss */
.max-w5 {
  max-width: 5%;
}

/* line 70, ../../sass/corpus/_sizing.scss */
.max-w10 {
  max-width: 10%;
}

/* line 71, ../../sass/corpus/_sizing.scss */
.max-w15 {
  max-width: 15%;
}

/* line 72, ../../sass/corpus/_sizing.scss */
.max-w20 {
  max-width: 20%;
}

/* line 73, ../../sass/corpus/_sizing.scss */
.max-w25 {
  max-width: 25%;
}

/* line 74, ../../sass/corpus/_sizing.scss */
.max-w30 {
  max-width: 30%;
}

/* line 75, ../../sass/corpus/_sizing.scss */
.max-w35 {
  max-width: 35%;
}

/* line 76, ../../sass/corpus/_sizing.scss */
.max-w40 {
  max-width: 40%;
}

/* line 77, ../../sass/corpus/_sizing.scss */
.max-w45 {
  max-width: 45%;
}

/* line 78, ../../sass/corpus/_sizing.scss */
.max-w50 {
  max-width: 50%;
}

/* line 79, ../../sass/corpus/_sizing.scss */
.max-w55 {
  max-width: 55%;
}

/* line 80, ../../sass/corpus/_sizing.scss */
.max-w60 {
  max-width: 60%;
}

/* line 81, ../../sass/corpus/_sizing.scss */
.max-w65 {
  max-width: 65%;
}

/* line 82, ../../sass/corpus/_sizing.scss */
.max-w70 {
  max-width: 70%;
}

/* line 83, ../../sass/corpus/_sizing.scss */
.max-w75 {
  max-width: 75%;
}

/* line 84, ../../sass/corpus/_sizing.scss */
.max-w80 {
  max-width: 80%;
}

/* line 85, ../../sass/corpus/_sizing.scss */
.max-w85 {
  max-width: 85%;
}

/* line 86, ../../sass/corpus/_sizing.scss */
.max-w90 {
  max-width: 90%;
}

/* line 87, ../../sass/corpus/_sizing.scss */
.max-w95 {
  max-width: 95%;
}

/* line 88, ../../sass/corpus/_sizing.scss */
.max-w100 {
  max-width: 100%;
}

/* line 90, ../../sass/corpus/_sizing.scss */
.min-w5 {
  min-width: 5%;
}

/* line 91, ../../sass/corpus/_sizing.scss */
.min-w10 {
  min-width: 10%;
}

/* line 92, ../../sass/corpus/_sizing.scss */
.min-w15 {
  min-width: 15%;
}

/* line 93, ../../sass/corpus/_sizing.scss */
.min-w20 {
  min-width: 20%;
}

/* line 94, ../../sass/corpus/_sizing.scss */
.min-w25 {
  min-width: 25%;
}

/* line 95, ../../sass/corpus/_sizing.scss */
.min-w30 {
  min-width: 30%;
}

/* line 96, ../../sass/corpus/_sizing.scss */
.min-w35 {
  min-width: 35%;
}

/* line 97, ../../sass/corpus/_sizing.scss */
.min-w40 {
  min-width: 40%;
}

/* line 98, ../../sass/corpus/_sizing.scss */
.min-w45 {
  min-width: 45%;
}

/* line 99, ../../sass/corpus/_sizing.scss */
.min-w50 {
  min-width: 50%;
}

/* line 100, ../../sass/corpus/_sizing.scss */
.min-w55 {
  min-width: 55%;
}

/* line 101, ../../sass/corpus/_sizing.scss */
.min-w60 {
  min-width: 60%;
}

/* line 102, ../../sass/corpus/_sizing.scss */
.min-w65 {
  min-width: 65%;
}

/* line 103, ../../sass/corpus/_sizing.scss */
.min-w70 {
  min-width: 70%;
}

/* line 104, ../../sass/corpus/_sizing.scss */
.min-w75 {
  min-width: 75%;
}

/* line 105, ../../sass/corpus/_sizing.scss */
.min-w80 {
  min-width: 80%;
}

/* line 106, ../../sass/corpus/_sizing.scss */
.min-w85 {
  min-width: 85%;
}

/* line 107, ../../sass/corpus/_sizing.scss */
.min-w90 {
  min-width: 90%;
}

/* line 108, ../../sass/corpus/_sizing.scss */
.min-w95 {
  min-width: 95%;
}

/* line 109, ../../sass/corpus/_sizing.scss */
.min-w100 {
  min-width: 100%;
}

/* line 115, ../../sass/corpus/_sizing.scss */
.h-auto {
  height: auto !important;
}

/* line 116, ../../sass/corpus/_sizing.scss */
.h-inherit {
  height: inherit !important;
}

/* line 117, ../../sass/corpus/_sizing.scss */
.h-initial {
  height: initial !important;
}

/* line 120, ../../sass/corpus/_sizing.scss */
.vh5 {
  height: 5vh;
}

/* line 121, ../../sass/corpus/_sizing.scss */
.vh10 {
  height: 10vh;
}

/* line 122, ../../sass/corpus/_sizing.scss */
.vh15 {
  height: 15vh;
}

/* line 123, ../../sass/corpus/_sizing.scss */
.vh20 {
  height: 20vh;
}

/* line 124, ../../sass/corpus/_sizing.scss */
.vh25 {
  height: 25vh;
}

/* line 125, ../../sass/corpus/_sizing.scss */
.vh30 {
  height: 30vh;
}

/* line 126, ../../sass/corpus/_sizing.scss */
.vh35 {
  height: 35vh;
}

/* line 127, ../../sass/corpus/_sizing.scss */
.vh40 {
  height: 40vh;
}

/* line 128, ../../sass/corpus/_sizing.scss */
.vh45 {
  height: 45vh;
}

/* line 129, ../../sass/corpus/_sizing.scss */
.vh50 {
  height: 50vh;
}

/* line 130, ../../sass/corpus/_sizing.scss */
.vh55 {
  height: 55vh;
}

/* line 131, ../../sass/corpus/_sizing.scss */
.vh60 {
  height: 60vh;
}

/* line 132, ../../sass/corpus/_sizing.scss */
.vh65 {
  height: 65vh;
}

/* line 133, ../../sass/corpus/_sizing.scss */
.vh70 {
  height: 70vh;
}

/* line 134, ../../sass/corpus/_sizing.scss */
.vh75 {
  height: 75vh;
}

/* line 135, ../../sass/corpus/_sizing.scss */
.vh80 {
  height: 80vh;
}

/* line 136, ../../sass/corpus/_sizing.scss */
.vh85 {
  height: 85vh;
}

/* line 137, ../../sass/corpus/_sizing.scss */
.vh90 {
  height: 90vh;
}

/* line 138, ../../sass/corpus/_sizing.scss */
.vh95 {
  height: 95vh;
}

/* line 139, ../../sass/corpus/_sizing.scss */
.vh100 {
  height: 100vh;
}

/* line 142, ../../sass/corpus/_sizing.scss */
.h5 {
  height: 5%;
}

/* line 143, ../../sass/corpus/_sizing.scss */
.h10 {
  height: 10%;
}

/* line 144, ../../sass/corpus/_sizing.scss */
.h15 {
  height: 15%;
}

/* line 145, ../../sass/corpus/_sizing.scss */
.h20 {
  height: 20%;
}

/* line 146, ../../sass/corpus/_sizing.scss */
.h25 {
  height: 25%;
}

/* line 147, ../../sass/corpus/_sizing.scss */
.h30 {
  height: 30%;
}

/* line 148, ../../sass/corpus/_sizing.scss */
.h35 {
  height: 35%;
}

/* line 149, ../../sass/corpus/_sizing.scss */
.h40 {
  height: 40%;
}

/* line 150, ../../sass/corpus/_sizing.scss */
.h45 {
  height: 45%;
}

/* line 151, ../../sass/corpus/_sizing.scss */
.h50 {
  height: 50%;
}

/* line 152, ../../sass/corpus/_sizing.scss */
.h55 {
  height: 55%;
}

/* line 153, ../../sass/corpus/_sizing.scss */
.h60 {
  height: 60%;
}

/* line 154, ../../sass/corpus/_sizing.scss */
.h65 {
  height: 65%;
}

/* line 155, ../../sass/corpus/_sizing.scss */
.h70 {
  height: 70%;
}

/* line 156, ../../sass/corpus/_sizing.scss */
.h75 {
  height: 75%;
}

/* line 157, ../../sass/corpus/_sizing.scss */
.h80 {
  height: 80%;
}

/* line 158, ../../sass/corpus/_sizing.scss */
.h85 {
  height: 85%;
}

/* line 159, ../../sass/corpus/_sizing.scss */
.h90 {
  height: 90%;
}

/* line 160, ../../sass/corpus/_sizing.scss */
.h95 {
  height: 95%;
}

/* line 161, ../../sass/corpus/_sizing.scss */
.h100 {
  height: 100%;
}

/* line 15, ../../sass/corpus/_colors.scss */
.color-accent {
  color: #F18260;
}

/* line 16, ../../sass/corpus/_colors.scss */
.color-white {
  color: #fff;
}

/* line 17, ../../sass/corpus/_colors.scss */
.color-silver {
  color: #F4F4F4;
}

/* line 18, ../../sass/corpus/_colors.scss */
.color-lightgrey {
  color: #ececec;
}

/* line 19, ../../sass/corpus/_colors.scss */
.color-grey {
  color: #ccc;
}

/* line 20, ../../sass/corpus/_colors.scss */
.color-midgrey {
  color: #777;
}

/* line 21, ../../sass/corpus/_colors.scss */
.color-darkgrey {
  color: #444;
}

/* line 22, ../../sass/corpus/_colors.scss */
.color-black {
  color: #222;
}

/* line 23, ../../sass/corpus/_colors.scss */
.color-trueblack {
  color: #000;
}

/* line 24, ../../sass/corpus/_colors.scss */
.color-inherit {
  color: inherit;
}

/* line 25, ../../sass/corpus/_colors.scss */
.color-transparent {
  color: transparent;
}

/* line 31, ../../sass/corpus/_colors.scss */
.bg-accent {
  background-color: #F18260;
}

/* line 32, ../../sass/corpus/_colors.scss */
.bg-white {
  background-color: #fff;
}

/* line 33, ../../sass/corpus/_colors.scss */
.bg-silver {
  background-color: #F4F4F4;
}

/* line 34, ../../sass/corpus/_colors.scss */
.bg-lightgrey {
  background-color: #ececec;
}

/* line 35, ../../sass/corpus/_colors.scss */
.bg-grey {
  background-color: #ccc;
}

/* line 36, ../../sass/corpus/_colors.scss */
.bg-midgrey {
  background-color: #777;
}

/* line 37, ../../sass/corpus/_colors.scss */
.bg-darkgrey {
  background-color: #444;
}

/* line 38, ../../sass/corpus/_colors.scss */
.bg-black {
  background-color: #222;
}

/* line 39, ../../sass/corpus/_colors.scss */
.bg-trueblack {
  background-color: #000;
}

/* line 40, ../../sass/corpus/_colors.scss */
.bg-transparent {
  background-color: transparent;
}

/* line 49, ../../sass/corpus/_colors.scss */
.border-accent {
  border-color: #F18260 !important;
}

/* line 50, ../../sass/corpus/_colors.scss */
.border-white {
  border-color: #fff !important;
}

/* line 51, ../../sass/corpus/_colors.scss */
.border-silver {
  border-color: #F4F4F4 !important;
}

/* line 52, ../../sass/corpus/_colors.scss */
.border-lightgrey {
  border-color: #ececec !important;
}

/* line 53, ../../sass/corpus/_colors.scss */
.border-grey {
  border-color: #ccc !important;
}

/* line 54, ../../sass/corpus/_colors.scss */
.border-midgrey {
  border-color: #777 !important;
}

/* line 55, ../../sass/corpus/_colors.scss */
.border-darkgrey {
  border-color: #444 !important;
}

/* line 56, ../../sass/corpus/_colors.scss */
.border-black {
  border-color: #222 !important;
}

/* line 57, ../../sass/corpus/_colors.scss */
.border-trueblack {
  border-color: #000 !important;
}

/* line 58, ../../sass/corpus/_colors.scss */
.border-transparent {
  border-color: transparent !important;
}

/* line 5, ../../sass/corpus/_positioning.scss */
.relative {
  position: relative;
}

/* line 6, ../../sass/corpus/_positioning.scss */
.absolute {
  position: absolute;
}

/* line 7, ../../sass/corpus/_positioning.scss */
.fixed {
  position: fixed;
}

/* line 15, ../../sass/corpus/_positioning.scss */
.center {
  align-items: center;
  justify-content: center;
}

/* line 16, ../../sass/corpus/_positioning.scss */
.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

/* line 17, ../../sass/corpus/_positioning.scss */
.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

/* line 19, ../../sass/corpus/_positioning.scss */
.column.top-center {
  align-items: center;
  justify-content: flex-start;
}

/* line 20, ../../sass/corpus/_positioning.scss */
.column.top-right {
  align-items: flex-end;
  justify-content: flex-start;
}

/* line 21, ../../sass/corpus/_positioning.scss */
.column.center-left {
  align-items: flex-start;
  justify-content: center;
}

/* line 22, ../../sass/corpus/_positioning.scss */
.column.center-right {
  align-items: flex-end;
  justify-content: center;
}

/* line 23, ../../sass/corpus/_positioning.scss */
.column.bottom-left {
  align-items: flex-start;
  justify-content: flex-end;
}

/* line 24, ../../sass/corpus/_positioning.scss */
.column.bottom-center {
  align-items: center;
  justify-content: flex-end;
}

/* line 26, ../../sass/corpus/_positioning.scss */
.row.top-center {
  align-items: flex-start;
  justify-content: center;
}

/* line 27, ../../sass/corpus/_positioning.scss */
.row.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

/* line 28, ../../sass/corpus/_positioning.scss */
.row.center-left {
  align-items: center;
  justify-content: flex-start;
}

/* line 29, ../../sass/corpus/_positioning.scss */
.row.center-right {
  align-items: center;
  justify-content: flex-end;
}

/* line 30, ../../sass/corpus/_positioning.scss */
.row.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

/* line 31, ../../sass/corpus/_positioning.scss */
.row.bottom-center {
  align-items: flex-end;
  justify-content: center;
}

/* line 37, ../../sass/corpus/_positioning.scss */
.space-around {
  justify-content: space-around;
}

/* line 38, ../../sass/corpus/_positioning.scss */
.space-between {
  justify-content: space-between;
}

/* line 40, ../../sass/corpus/_positioning.scss */
.align-top {
  align-items: flex-start;
}

/* line 41, ../../sass/corpus/_positioning.scss */
.align-middle {
  align-items: middle;
}

/* line 42, ../../sass/corpus/_positioning.scss */
.align-baseline {
  align-items: baseline;
}

/* line 43, ../../sass/corpus/_positioning.scss */
.align-stretch {
  align-items: stretch;
}

/* line 49, ../../sass/corpus/_positioning.scss */
.order-1 {
  order: 1;
}

/* line 50, ../../sass/corpus/_positioning.scss */
.order-2 {
  order: 2;
}

/* line 51, ../../sass/corpus/_positioning.scss */
.order-3 {
  order: 3;
}

/* line 52, ../../sass/corpus/_positioning.scss */
.order-4 {
  order: 4;
}

/* line 53, ../../sass/corpus/_positioning.scss */
.order-5 {
  order: 5;
}

/* line 54, ../../sass/corpus/_positioning.scss */
.order-6 {
  order: 6;
}

/* line 55, ../../sass/corpus/_positioning.scss */
.order-7 {
  order: 7;
}

/* line 56, ../../sass/corpus/_positioning.scss */
.order-8 {
  order: 8;
}

/* line 57, ../../sass/corpus/_positioning.scss */
.order-9 {
  order: 9;
}

/* line 58, ../../sass/corpus/_positioning.scss */
.order-10 {
  order: 10;
}

/* line 64, ../../sass/corpus/_positioning.scss */
.top {
  top: 0;
}

/* line 65, ../../sass/corpus/_positioning.scss */
.right {
  right: 0;
}

/* line 66, ../../sass/corpus/_positioning.scss */
.bottom {
  bottom: 0;
}

/* line 67, ../../sass/corpus/_positioning.scss */
.left {
  left: 0;
}

/* line 69, ../../sass/corpus/_positioning.scss */
.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* line 82, ../../sass/corpus/_positioning.scss */
.float-left {
  float: left;
}

/* line 83, ../../sass/corpus/_positioning.scss */
.float-right {
  float: right;
}

/* line 5, ../../sass/corpus/_depth.scss */
.depth-0 {
  z-index: -1;
}

/* line 6, ../../sass/corpus/_depth.scss */
.depth-1 {
  z-index: 100;
}

/* line 7, ../../sass/corpus/_depth.scss */
.depth-2 {
  z-index: 200;
}

/* line 8, ../../sass/corpus/_depth.scss */
.depth-3 {
  z-index: 300;
}

/* line 9, ../../sass/corpus/_depth.scss */
.depth-4 {
  z-index: 400;
}

/* line 10, ../../sass/corpus/_depth.scss */
.depth-5 {
  z-index: 500;
}

/* line 11, ../../sass/corpus/_depth.scss */
.depth-6 {
  z-index: 600;
}

/* line 12, ../../sass/corpus/_depth.scss */
.depth-7 {
  z-index: 700;
}

/* line 13, ../../sass/corpus/_depth.scss */
.depth-8 {
  z-index: 800;
}

/* line 14, ../../sass/corpus/_depth.scss */
.depth-9 {
  z-index: 900;
}

/* line 15, ../../sass/corpus/_depth.scss */
.depth-10 {
  z-index: 1000;
}

@font-face {
  font-family: 'Office Code Pro';
  src: url("../fonts/OfficeCodePro-Regular.woff");
}
/* line 18, ../../sass/corpus/_typography.scss */
::selection {
  background: #222;
  color: #F18260;
}

/* line 23, ../../sass/corpus/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 1rem;
}

/* line 29, ../../sass/corpus/_typography.scss */
h1, .h1 {
  font-size: 2.25rem;
  line-height: 1.2;
}

/* line 30, ../../sass/corpus/_typography.scss */
h2, .h2 {
  font-size: 1.75rem;
  line-height: 1.3;
}

/* line 31, ../../sass/corpus/_typography.scss */
h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

/* line 32, ../../sass/corpus/_typography.scss */
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* line 33, ../../sass/corpus/_typography.scss */
h5, .h5 {
  font-size: 1.125rem;
}

/* line 34, ../../sass/corpus/_typography.scss */
h6, .h6 {
  font-size: 1rem;
}

/* line 36, ../../sass/corpus/_typography.scss */
body {
  font-size: 1rem;
  background-color: #fff;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
}

/* line 44, ../../sass/corpus/_typography.scss */
a,
.link {
  color: #F18260;
  text-decoration: none;
  transition: color 200ms;
  cursor: pointer;
}

/* line 52, ../../sass/corpus/_typography.scss */
a:hover {
  color: #F18260;
}

/* line 56, ../../sass/corpus/_typography.scss */
h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a {
  color: inherit;
  text-decoration: underline;
}

/* line 63, ../../sass/corpus/_typography.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 72, ../../sass/corpus/_typography.scss */
li ul, li ol {
  margin: 0 1rem;
}

/* line 73, ../../sass/corpus/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 74, ../../sass/corpus/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 75, ../../sass/corpus/_typography.scss */
ol ol {
  list-style: lower-alpha;
}

/* line 76, ../../sass/corpus/_typography.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 77, ../../sass/corpus/_typography.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 83, ../../sass/corpus/_typography.scss */
pre, code, samp, style {
  font-family: "Office Code Pro", Monaco, Consolas, monospace;
}

/* line 85, ../../sass/corpus/_typography.scss */
pre {
  background-color: #222;
  color: #fff;
  font-size: 0.875rem;
  padding: 2rem;
  overflow: auto;
}

/* line 93, ../../sass/corpus/_typography.scss */
pre code {
  background-color: inherit;
  border-radius: 0;
  color: inherit;
  padding: 0;
}

/* line 100, ../../sass/corpus/_typography.scss */
code {
  background-color: #F4F4F4;
  border-radius: 3px;
  font-size: 0.875rem;
  padding: 0.15em 0.4em;
}

/* line 107, ../../sass/corpus/_typography.scss */
.bg-silver code,
.bg-grey code {
  background-color: #222;
  color: #fff;
}

/* line 113, ../../sass/corpus/_typography.scss */
hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 122, ../../sass/corpus/_typography.scss */
.optimal-length {
  max-width: 70ch;
}

/* line 123, ../../sass/corpus/_typography.scss */
.text-align-center {
  text-align: center;
}

/* line 124, ../../sass/corpus/_typography.scss */
.text-align-left {
  text-align: left;
}

/* line 125, ../../sass/corpus/_typography.scss */
.text-align-right {
  text-align: right;
}

/* line 131, ../../sass/corpus/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 132, ../../sass/corpus/_typography.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 133, ../../sass/corpus/_typography.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 134, ../../sass/corpus/_typography.scss */
.italic {
  font-style: italic;
}

/* line 135, ../../sass/corpus/_typography.scss */
.tracked {
  letter-spacing: 4px;
}

/* line 136, ../../sass/corpus/_typography.scss */
.underline {
  text-decoration: underline;
}

/* line 137, ../../sass/corpus/_typography.scss */
.no-underline {
  text-decoration: none;
}

/* line 138, ../../sass/corpus/_typography.scss */
.list-style-none {
  list-style-type: none;
}

/* line 140, ../../sass/corpus/_typography.scss */
.thin {
  font-weight: 200;
}

/* line 141, ../../sass/corpus/_typography.scss */
.regular {
  font-weight: 400;
}

/* line 142, ../../sass/corpus/_typography.scss */
.bold {
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  /* line 149, ../../sass/corpus/_typography.scss */
  .two-columns {
    column-count: 2;
  }

  /* line 150, ../../sass/corpus/_typography.scss */
  .three-columns {
    column-count: 3;
  }

  /* line 151, ../../sass/corpus/_typography.scss */
  .four-columns {
    column-count: 4;
  }

  /* line 152, ../../sass/corpus/_typography.scss */
  .five-columns {
    column-count: 5;
  }
}
/* line 159, ../../sass/corpus/_typography.scss */
.lh1 {
  line-height: 1;
}

/* line 160, ../../sass/corpus/_typography.scss */
.lh2 {
  line-height: 1.2;
}

/* line 161, ../../sass/corpus/_typography.scss */
.lh3 {
  line-height: 1.3;
}

/* line 162, ../../sass/corpus/_typography.scss */
.lh4 {
  line-height: 1.4;
}

/* line 163, ../../sass/corpus/_typography.scss */
.lh5 {
  line-height: 1.5;
}

/* line 164, ../../sass/corpus/_typography.scss */
.lh6 {
  line-height: 1.6;
}

/* line 165, ../../sass/corpus/_typography.scss */
.lh7 {
  line-height: 1.7;
}

/* line 166, ../../sass/corpus/_typography.scss */
.lh8 {
  line-height: 1.8;
}

/* line 167, ../../sass/corpus/_typography.scss */
.lh9 {
  line-height: 1.9;
}

/* line 173, ../../sass/corpus/_typography.scss */
.fs-base {
  font-size: 1rem;
}

/* line 174, ../../sass/corpus/_typography.scss */
.fs-xsmall {
  font-size: 50%;
}

/* line 175, ../../sass/corpus/_typography.scss */
.fs-small {
  font-size: 75%;
}

/* line 176, ../../sass/corpus/_typography.scss */
.fs-large {
  font-size: 125%;
}

/* line 177, ../../sass/corpus/_typography.scss */
.fs-xlarge {
  font-size: 150%;
}

/* line 178, ../../sass/corpus/_typography.scss */
.fs-xxlarge {
  font-size: 175%;
}

/* line 179, ../../sass/corpus/_typography.scss */
.fs-double {
  font-size: 200%;
}

/* line 1, ../../sass/corpus/_tables.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

/* line 8, ../../sass/corpus/_tables.scss */
th {
  text-align: left;
  font-weight: bold;
}

/* line 13, ../../sass/corpus/_tables.scss */
th,
td {
  padding: .25rem 1rem;
  line-height: inherit;
}

/* line 19, ../../sass/corpus/_tables.scss */
th {
  vertical-align: bottom;
}

/* line 20, ../../sass/corpus/_tables.scss */
td {
  vertical-align: top;
}

/* line 5, ../../sass/corpus/_images.scss */
.bg-no-repeat {
  background-repeat: no-repeat;
}

/* line 6, ../../sass/corpus/_images.scss */
.bg-cover {
  background-size: cover;
}

/* line 7, ../../sass/corpus/_images.scss */
.bg-contain {
  background-size: contain;
}

/* line 8, ../../sass/corpus/_images.scss */
.bg-center {
  background-position: center;
}

/* line 9, ../../sass/corpus/_images.scss */
.bg-top {
  background-position: top;
}

/* line 10, ../../sass/corpus/_images.scss */
.bg-right {
  background-position: right;
}

/* line 11, ../../sass/corpus/_images.scss */
.bg-bottom {
  background-position: bottom;
}

/* line 12, ../../sass/corpus/_images.scss */
.bg-left {
  background-position: left;
}

/* line 14, ../../sass/corpus/_images.scss */
.bg-fixed {
  background-attachment: fixed;
}

/* line 15, ../../sass/corpus/_images.scss */
.bg-local {
  background-attachment: local;
}

/* line 17, ../../sass/corpus/_images.scss */
.img-cover {
  object-fit: cover;
}

/* line 18, ../../sass/corpus/_images.scss */
.img-contain {
  object-fit: contain;
}

/* line 19, ../../sass/corpus/_images.scss */
.img-fill {
  object-fit: fill;
}

/* line 20, ../../sass/corpus/_images.scss */
.img-scale-down {
  object-fit: scale-down;
}

/* line 13, ../../sass/corpus/_borders.scss */
.b0 {
  border: none !important;
}

/* line 14, ../../sass/corpus/_borders.scss */
.b1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 15, ../../sass/corpus/_borders.scss */
.b2 {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 16, ../../sass/corpus/_borders.scss */
.b3 {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

/* line 19, ../../sass/corpus/_borders.scss */
.bt0 {
  border-top: none !important;
}

/* line 20, ../../sass/corpus/_borders.scss */
.bt1 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 21, ../../sass/corpus/_borders.scss */
.bt2 {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 22, ../../sass/corpus/_borders.scss */
.bt3 {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

/* line 25, ../../sass/corpus/_borders.scss */
.br0 {
  border-right: none !important;
}

/* line 26, ../../sass/corpus/_borders.scss */
.br1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 27, ../../sass/corpus/_borders.scss */
.br2 {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 28, ../../sass/corpus/_borders.scss */
.br3 {
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

/* line 31, ../../sass/corpus/_borders.scss */
.bb0 {
  border-bottom: none !important;
}

/* line 32, ../../sass/corpus/_borders.scss */
.bb1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 33, ../../sass/corpus/_borders.scss */
.bb2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 34, ../../sass/corpus/_borders.scss */
.bb3 {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

/* line 37, ../../sass/corpus/_borders.scss */
.bl0 {
  border-left: none !important;
}

/* line 38, ../../sass/corpus/_borders.scss */
.bl1 {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 39, ../../sass/corpus/_borders.scss */
.bl2 {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

/* line 40, ../../sass/corpus/_borders.scss */
.bl3 {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}

/* line 46, ../../sass/corpus/_borders.scss */
.rounded {
  border-radius: 3px;
}

/* line 47, ../../sass/corpus/_borders.scss */
.not-rounded {
  border-radius: 0;
}

/* line 48, ../../sass/corpus/_borders.scss */
.circle {
  border-radius: 50%;
}

/* line 1, ../../sass/corpus/_forms.scss */
input,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 0;
}

/* line 11, ../../sass/corpus/_forms.scss */
label {
  vertical-align: middle;
}

/* line 13, ../../sass/corpus/_forms.scss */
select {
  -webkit-appearance: none;
}

/* line 15, ../../sass/corpus/_forms.scss */
textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
  vertical-align: top;
}

/* line 21, ../../sass/corpus/_forms.scss */
.input[type=button],
.input[type=date],
.input[type=datetime],
.input[type=email],
.input[type=file],
.input[type=hidden],
.input[type=image],
.input[type=month],
.input[type=number],
.input[type=password],
.input[type=range],
.input[type=reset],
.input[type=search],
.input[type=submit],
.input[type=tel],
.input[type=text],
.input[type=time],
.input[type=url],
.input[type=week],
.select,
.textarea {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  height: auto;
  outline: none;
  padding: 1rem;
  width: 100%;
  transition: border-color 200ms;
}
/* line 52, ../../sass/corpus/_forms.scss */
.input[type=button]:focus,
.input[type=date]:focus,
.input[type=datetime]:focus,
.input[type=email]:focus,
.input[type=file]:focus,
.input[type=hidden]:focus,
.input[type=image]:focus,
.input[type=month]:focus,
.input[type=number]:focus,
.input[type=password]:focus,
.input[type=range]:focus,
.input[type=reset]:focus,
.input[type=search]:focus,
.input[type=submit]:focus,
.input[type=tel]:focus,
.input[type=text]:focus,
.input[type=time]:focus,
.input[type=url]:focus,
.input[type=week]:focus,
.select:focus,
.textarea:focus {
  border-color: #777;
}

/* line 57, ../../sass/corpus/_forms.scss */
.input[required],
.input:invalid,
.input:valid {
  padding-right: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 65, ../../sass/corpus/_forms.scss */
.input:invalid,
.input:valid {
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: right 1rem center;
}

/* line 72, ../../sass/corpus/_forms.scss */
.input.textarea[required],
.input.textarea:invalid,
.input.textarea:valid {
  background-position: right 1rem top 1rem;
}

/* line 78, ../../sass/corpus/_forms.scss */
.input[required] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 8 16 16" enable-background="new 0 8 16 16"><style type="text/css">.st0{fill:#F18260;}</style><path class="st0" d="M7.2 17.4l-5.4 3.8-1.4-2.5 6-2.7-6.1-2.8 1.4-2.4 5.4 3.8-.5-6.6h2.7l-.5 6.6 5.4-3.8 1.4 2.4-6 2.8 6.1 2.8-1.4 2.5-5.4-3.8.5 6.5h-2.8l.6-6.6z"/></svg>');
}

/* line 79, ../../sass/corpus/_forms.scss */
.input:valid {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle fill="#B4D388" cx="8" cy="8" r="8"/></svg>');
}

/* line 80, ../../sass/corpus/_forms.scss */
.input:focus:invalid {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle fill="#CF5340" cx="8" cy="8" r="8"/></svg>');
}

/* line 82, ../../sass/corpus/_forms.scss */
.input[novalidate],
.input.novalidate,
.input.hide-validate-icon {
  background-image: none;
  padding-right: 1rem;
}

/* line 89, ../../sass/corpus/_forms.scss */
.input-wrap,
.radio-group,
.checkbox-group,
.fieldset {
  margin-bottom: 2rem;
}

/* line 96, ../../sass/corpus/_forms.scss */
.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* line 101, ../../sass/corpus/_forms.scss */
.fieldset {
  background-color: #F4F4F4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

/* line 111, ../../sass/corpus/_forms.scss */
.input[type=checkbox],
.input[type=radio] {
  display: inline;
}

/* line 116, ../../sass/corpus/_forms.scss */
.radio-group,
.checkbox-group {
  border-radius: 3px;
  background-color: #F4F4F4;
  padding: 1rem 1.5rem;
}

/* line 123, ../../sass/corpus/_forms.scss */
.radio-wrap,
.checkbox-wrap {
  display: inline-block;
  margin-right: 1rem;
}
/* line 127, ../../sass/corpus/_forms.scss */
.radio-wrap:last-child,
.checkbox-wrap:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  /* line 123, ../../sass/corpus/_forms.scss */
  .radio-wrap,
  .checkbox-wrap {
    display: block;
  }
}

/* line 134, ../../sass/corpus/_forms.scss */
.stacked .radio-wrap:not(:last-child),
.stacked .checkbox-wrap:not(:last-child) {
  display: block;
}

/* line 143, ../../sass/corpus/_forms.scss */
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 152, ../../sass/corpus/_forms.scss */
.select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="-469 273 8 11" enable-background="new -469 273 8 11"><path fill="#B4B4B4" d="M-469 277l4-4 4 4zM-461 280l-4 4-4-4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

/* line 162, ../../sass/corpus/_forms.scss */
.input[type=color] {
  background-color: #fff;
  cursor: pointer;
  outline: none;
  height: 50px;
  padding: 5px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 162, ../../sass/corpus/_forms.scss */
  .input[type=color] {
    padding: 1rem;
  }
}

/* line 176, ../../sass/corpus/_forms.scss */
input[type=color]::-webkit-color-swatch {
  border: none !important;
}

/* line 179, ../../sass/corpus/_forms.scss */
input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0 !important;
}

/* line 187, ../../sass/corpus/_forms.scss */
::-webkit-calendar-picker-indicator,
::-webkit-calendar-picker-indicator:hover {
  background: transparent;
  color: #F18260;
  padding: 0;
  padding-left: 1rem;
}

/* line 195, ../../sass/corpus/_forms.scss */
::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

/* line 196, ../../sass/corpus/_forms.scss */
::-webkit-inner-spin-button {
  display: none;
}

/* line 202, ../../sass/corpus/_forms.scss */
.input[type=file] {
  font-size: 0.75rem;
  background-color: #F4F4F4;
  display: block;
}

/* line 212, ../../sass/corpus/_forms.scss */
.input[type=reset] {
  background-color: #F4F4F4;
  border-color: #ccc;
  color: #222;
  cursor: pointer;
}

/* line 5, ../../sass/corpus/_buttons.scss */
button, .btn,
input[type=submit] {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  -webkit-appearance: none;
  color: #fff;
  background: #F18260;
  border: 1px solid transparent;
  font-size: inherit;
  text-align: center;
  line-height: 1;
  height: auto;
  align-self: flex-start;
  display: inline-block;
  border-radius: 3px;
  padding: 1rem;
  transition: box-shadow 200ms;
}
/* line 26, ../../sass/corpus/_buttons.scss */
button:hover, .btn:hover,
input[type=submit]:hover {
  box-shadow: inset 0 0 0 20rem rgba(34, 34, 34, 0.1);
}
/* line 27, ../../sass/corpus/_buttons.scss */
button:active, .btn:active,
input[type=submit]:active {
  transform: translateY(1px);
}
/* line 28, ../../sass/corpus/_buttons.scss */
button:disabled, .btn:disabled,
input[type=submit]:disabled {
  opacity: 0.6;
  transition: none;
  cursor: progress;
}
@media screen and (max-width: 480px) {
  /* line 5, ../../sass/corpus/_buttons.scss */
  button, .btn,
  input[type=submit] {
    width: 100%;
  }
}

/* line 37, ../../sass/corpus/_buttons.scss */
.btn:hover {
  color: #fff;
}

/* line 42, ../../sass/corpus/_buttons.scss */
.btn-large {
  padding: 1.5rem;
}

/* line 46, ../../sass/corpus/_buttons.scss */
.btn-secondary {
  background: #777;
}

/* line 50, ../../sass/corpus/_buttons.scss */
.btn-outline {
  color: #F18260;
  background-color: transparent;
  border-color: currentColor;
  transition: background 200ms, color 200ms;
}
/* line 55, ../../sass/corpus/_buttons.scss */
.btn-outline:hover {
  color: #fff;
  background: #F18260;
  box-shadow: none;
  border-color: transparent;
}

/* line 63, ../../sass/corpus/_buttons.scss */
.btn-small {
  padding: 0.5rem;
}

/* line 67, ../../sass/corpus/_buttons.scss */
.btn-tiny {
  font-size: 80%;
  padding: 0.25rem;
}

/* line 18, ../../sass/corpus/_syntax.scss */
.color-paleblue {
  color: #BDDCDC;
}

/* line 19, ../../sass/corpus/_syntax.scss */
.color-blue {
  color: #92BFBF;
}

/* line 20, ../../sass/corpus/_syntax.scss */
.color-slate {
  color: #5F777E;
}

/* line 21, ../../sass/corpus/_syntax.scss */
.color-palegreen {
  color: #D0EDA7;
}

/* line 22, ../../sass/corpus/_syntax.scss */
.color-green {
  color: #B4D388;
}

/* line 23, ../../sass/corpus/_syntax.scss */
.color-darkgreen {
  color: #809161;
}

/* line 25, ../../sass/corpus/_syntax.scss */
.color-yellow {
  color: #EDE480;
}

/* line 26, ../../sass/corpus/_syntax.scss */
.color-paleyellow {
  color: #F5F5AE;
}

/* line 27, ../../sass/corpus/_syntax.scss */
.color-orange {
  color: #F49D62;
}

/* line 28, ../../sass/corpus/_syntax.scss */
.color-red {
  color: #CF5340;
}

/* line 29, ../../sass/corpus/_syntax.scss */
.color-darkred {
  color: #893121;
}

/* line 30, ../../sass/corpus/_syntax.scss */
.color-maroon {
  color: #55201B;
}

/* line 32, ../../sass/corpus/_syntax.scss */
.bg-paleblue {
  background-color: #BDDCDC;
}

/* line 33, ../../sass/corpus/_syntax.scss */
.bg-blue {
  background-color: #92BFBF;
}

/* line 34, ../../sass/corpus/_syntax.scss */
.bg-slate {
  background-color: #5F777E;
}

/* line 35, ../../sass/corpus/_syntax.scss */
.bg-palegreen {
  background-color: #D0EDA7;
}

/* line 36, ../../sass/corpus/_syntax.scss */
.bg-green {
  background-color: #B4D388;
}

/* line 37, ../../sass/corpus/_syntax.scss */
.bg-darkgreen {
  background-color: #809161;
}

/* line 39, ../../sass/corpus/_syntax.scss */
.bg-paleyellow {
  background-color: #F5F5AE;
}

/* line 40, ../../sass/corpus/_syntax.scss */
.bg-yellow {
  background-color: #EDE480;
}

/* line 41, ../../sass/corpus/_syntax.scss */
.bg-orange {
  background-color: #F49D62;
}

/* line 42, ../../sass/corpus/_syntax.scss */
.bg-red {
  background-color: #CF5340;
}

/* line 43, ../../sass/corpus/_syntax.scss */
.bg-darkred {
  background-color: #893121;
}

/* line 44, ../../sass/corpus/_syntax.scss */
.bg-maroon {
  background-color: #55201B;
}

/* line 50, ../../sass/corpus/_syntax.scss */
code[class*="language-"],
pre[class*="language-"] {
  position: relative;
  color: #EDE480;
}

/* line 56, ../../sass/corpus/_syntax.scss */
pre::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: transparent;
}

/* line 57, ../../sass/corpus/_syntax.scss */
pre::-webkit-scrollbar-track {
  background-color: transparent;
}

/* line 58, ../../sass/corpus/_syntax.scss */
pre::-webkit-scrollbar-thumb:vertical {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="296" viewBox="0 -135 14 296" enable-background="new 0 -135 14 296"><path fill="#F18260" d="M6-129h2v290h-2z"/></svg>') no-repeat;
}

/* line 59, ../../sass/corpus/_syntax.scss */
pre::-webkit-scrollbar-thumb:horizontal {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="600" height="14" viewBox="0 0 600 14"><path fill="#F18260" d="M10 6h590v2h-590z"/></svg>') no-repeat;
}

/* line 60, ../../sass/corpus/_syntax.scss */
pre::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* line 61, ../../sass/corpus/_syntax.scss */
pre::-webkit-resizer {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><path fill="#F18260" d="M13 13h-13l13-13z"/></svg>') no-repeat;
  background-position: bottom right;
}

/* line 67, ../../sass/corpus/_syntax.scss */
code[class*="language-"].language-markup,
pre[class*="language-"].language-markup,
code[class*="language-"].language-javascript,
pre[class*="language-"].language-javascript {
  color: #fff;
}

/* line 74, ../../sass/corpus/_syntax.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.entity,
.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #777;
}

/* line 85, ../../sass/corpus/_syntax.scss */
.token.property,
.language-markup .token.punctuation {
  color: #92BFBF;
}

/* line 90, ../../sass/corpus/_syntax.scss */
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.language-css .token.selector,
.language-scss .token.selector {
  color: #B4D388;
}

/* line 101, ../../sass/corpus/_syntax.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.language-clike .token.boolean,
.language-javascript .token.keyword,
.language-javascript .token.number {
  color: #EDE480;
}

/* line 113, ../../sass/corpus/_syntax.scss */
.token.punctuation {
  color: #F4F4F4;
}

/* line 117, ../../sass/corpus/_syntax.scss */
.token.attr-value,
.token.keyword,
.language-clike .token.string,
.language-javascript .token.string {
  color: #BDDCDC;
}

/* line 124, ../../sass/corpus/_syntax.scss */
.token.operator,
.token.atrule,
.token.function,
.token.url,
.language-css .token.keyword,
.language-scss .token.keyword,
.token.regex,
.token.variable {
  color: #F49D62;
}

/* line 135, ../../sass/corpus/_syntax.scss */
.token.important {
  color: #CF5340;
}

/* line 139, ../../sass/corpus/_syntax.scss */
.token.entity {
  cursor: help;
}

/* line 147, ../../sass/corpus/_syntax.scss */
pre[class*='language-'][data-language]::before {
  content: attr(data-language);
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  background: #444;
  color: #ccc;
  text-transform: uppercase;
  border-radius: 0 0 0 5px;
}

/* line 161, ../../sass/corpus/_syntax.scss */
.no-indicator:before {
  display: none;
}

/* line 169, ../../sass/corpus/_syntax.scss */
pre.line-numbers {
  padding-left: 4.5em;
  counter-reset: linenumber;
}

/* line 174, ../../sass/corpus/_syntax.scss */
pre.line-numbers > code {
  position: relative;
}

/* line 178, ../../sass/corpus/_syntax.scss */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: -4.5em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  border-right: 1px solid #444;
  user-select: none;
}

/* line 188, ../../sass/corpus/_syntax.scss */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

/* line 194, ../../sass/corpus/_syntax.scss */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5e5e5e;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
